:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #00d5ff;
    font-family: 'Times New Roman', Times, serif;
    font-family: sans-serif;
}

.logo {
    color: var(--color-white);
    font-size: 30px;
}

.logo span {
    color: var(--color-primary);
}

.menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    position: relative;
    padding: 10px 30px;
}

.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: var(--color-primary);
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-black);
    z-index: 1000;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 10px;
    width: 150px;
}

@media screen and (max-width: 800px) {
    .menu-bar ul {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        background-color: var(--color-black);
        transition: all 0.3s ease;
    }

    .menu-bar ul.active {
        left: 0;
    }

    .menu-bar ul li {
        padding: 15px;
        text-align: center;
    }

    .menu-bar ul li:hover .dropdown-menu {
        position: relative;
        background-color: var(--color-black);
        display: block;
        left: 0;
        top: auto;
    }

    .dropdown-menu ul li {
        padding: 5px;
    }

    .hamburger {
        display: block;
        color: var(--color-white);
        font-size: 24px;
        cursor: pointer;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: #4cb1c5;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.hero h1 {
    font-size: 80px;
}

.hero p {
    font-size: 30px;
    text-transform: uppercase;
    color: #360d0d;
}

nav {
    background: #c3e6ed;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav a {
    flex: 1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: .2s ease-in-out all;
    font-weight: 500;
}

nav a:hover {
    background: #a8e5f7;
}

nav .indicator {
    width: 0px;
    height: 7px;
    background: #e0c1c1;
    position: absolute;
    bottom: 0;
    transition: .3s ease-out all;
}

.seccion {
    min-height: 100vh;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion .card {
    background: #c3e6ed;
    height: 90%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.seccion h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.seccion p {
    line-height: 20px;
    margin-bottom: 40px;
}

.seccion img {
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}

#contacto img {
    width: 100px; /* Ajusta este valor para hacer las imágenes más pequeñas */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 10px; /* Añade un espacio alrededor de las imágenes */
    transition: transform 0.3s ease;
}

#contacto img:hover {
    transform: scale(1.1); /* Efecto de zoom cuando pases el ratón sobre la imagen */
    cursor: pointer;
}

